/* Popup modal styles */
.info-popup {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 2000; /* On top of all other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
    justify-content: center;
    align-items: center;
}

/* Popup content styles */
.popup-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    position: relative;
}

/* Close button styles */
.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-popup:hover,
.close-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Hotspot button styles */
.info-hotspot {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: #008CBA; /* Blue background */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1500;
}

.info-hotspot:hover {
    background-color: #005f73; /* Darker blue on hover */
}
